pytorch_nightly_venv/Lib/*
pytorch_nightly_venv/Scripts/*
pytorch_nightly_venv/share/*
/VT_utilities/image_converter/input/*
/VT_utilities/image_converter/output/*
/VT_utilities/images_infos_getter/inputs/*
/VT_utilities/open_images_dataset_downloader/input/*
/VT_utilities/open_images_dataset_downloader/output/*
/VT_utilities/tests_and_experiments/random.py
/jupyter_notebook/.ipynb_checkpoints/
/jupyter_notebook/models/
/jupyter_notebook/output/
/VT_utilities/image_splitter/input/
/VT_utilities/image_splitter/output/
